$breakpoint-sm = 0
// $breakpoint-md = 49rem
$breakpoint-md = 1024px
$breakpoint-lg = 1440px
$breakpoint-xl = 1920px

media_queries = {
  sm : "only screen",
  md : "only screen and (min-width: 1024px)",
  lg : "only screen and (min-width: 1440px)",
  xl : "only screen and (min-width: 1920px)"
}
fix(breakpoints)
  conditions = ()
  for breakpoint in breakpoints
    push(conditions, media_queries[breakpoint])
  conditions = join(", ", conditions)
  @media conditions
    {block}

on-off-button(width)
  height = width * 0.6
  padding = width * 0.05
  display flex
  align-items center
  width width
  height height
  border-radius 55%/100%
  background-color #dddddd
  padding padding
  cursor pointer
  transition all linear 0.25s
  &:after
    width = width * 0.5
    content ''
    display block
    position static
    width width
    height 100%
    border-radius 100%
    background-color #ffffff
    transition all linear 0.25s
  &.on
    background-color #6edc5f
    &:after
      x = width * 0.4
      transform translateX(x)

toggle-button(width)
  radius = width * 0.2
  width width
  height width
  border-radius 50%
  border 1px solid #c0c0c0
  background-color #f5f5f5
  flex-basis width
  &.on
    box-shadow inset 0px 0px 3px 1px #f5f5f5
    background-color #cdcdcd


